.back {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  cursor: pointer;
}

.backBtn {
  color: var(--black);
}

.title {
  font-size: 1.5em;
  font-family: var(--font-proxima-nova);
  font-weight: 700;
}
