.icons,
.logOut {
  position: relative;
}
.icons {
  width: 19px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.logOut {
  line-height: 160%;
}
.stateinactive {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-smi);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--white);
  font-family: var(--mobile-heading);
}
