.forgotPassword {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.emailAddress,
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header {
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--brand-color);
  font-family: var(--font-proxima-nova);
}
.emailAddress {
  border: 1px solid var(--gray-4);
  font-weight: 500;
  font-family: var(--font-nunito);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 35px;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-xs);
}
.backToLogin {
  flex: 1;
  position: relative;
  line-height: 150%;
  cursor: pointer;
}
.backToLogin:hover {
  color: var(--brand-color);
}
.accountExists,
.prompts {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.accountExists {
  display: flex;
  flex-direction: row;
}
.prompts {
  cursor: pointer;
}
.forgotPasswordPage,
.login,
.prompts {
  display: flex;
  flex-direction: column;
}
.login {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.forgotPasswordPage {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 932px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-96xl) var(--padding-35xl);
  box-sizing: border-box;
  gap: var(--gap-20xl);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--light-blue);
  font-family: var(--font-nunito);
}
