body {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;       
    margin: 0;            
  }

.mainLoginCont {
    display: flex;
    width: 430px;
    min-height: 100vh;
    padding: 115px 54px;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

.bxLogo {
    width: 153px;
    height: 44px;
    flex-shrink: 0;
}

.headingDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    width: 100%;
}

.loginText {
    font-family: var(--main-font);
    color: var(--brand-color);
    font-size: 30px;
    line-height: 150%;
    font-weight: 700;
    margin: 0;
}

.welcomeText {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    margin: 0;
}