@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.exitbtncontainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.whiteLogoIcon {
  position: relative;
  width: 125.5px;
  height: 36px;
  object-fit: cover;
}
.topBar,
.whiteLogo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.whiteLogo {
  height: 56px;
  justify-content: flex-end;
  padding: 0 2.6052632331848145px;
  box-sizing: border-box;
}
.topBar {
  height: 147.3px;
  justify-content: space-between;
}
.accessories {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 160%;
  font-family: var(--mobile-heading);
  color: var(--white);
  text-align: left;
}
.categoryButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-smi);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomBar,
.menu,
.pages {
  display: flex;
  flex-direction: column;
}
.pages {
  align-self: stretch;
  height: 539px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.bottomBar,
.menu {
  align-items: flex-start;
}
.bottomBar {
  align-self: stretch;
  justify-content: flex-end;
}
.menu {
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--brand-color);
  box-shadow: var(--drop-shadow-mobile);
  overflow: hidden;
  justify-content: space-between;
  padding: 26px var(--padding-lgi);
  box-sizing: border-box;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
}
.menu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 420px) {
  .categoryButton {
    align-items: center;
    justify-content: flex-start;
  }
}
