.icon {
  width: 26px;
  height: 26px;
}

.background {
  border-radius: 23.88px;
  background-color: var(--brand-color);
  box-shadow: 1.7px 3.4px 7.51px rgba(0, 0, 0, 0.03);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}
