<!DOCTYPE html>

<title>
    <title>Update Product</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" media="all" href="/css/updateProduct.css">
</title>

<body>
    

    <div class="container">
        <header>
            <h1>BXAppliances</h1>
            <h2>Update Product</h2>
        </header>
        <div class="product_box">
           <form clas="productInfo">

            <label for="img">Product image:</label>
            <input type="file" id="img" name="img" accept="image/*">

            <input type="text" id="brand" name="brand" placeholder="Product Brand" required>

            
            <input type="text" id="name" name="name" placeholder="Product Name" required>

            
            <input type="text" id="price" name="price"placeholder="Product Price" required>

           
            <input type="text" id="quantity" name="quantity"placeholder="Product Quantity" required>

             <textarea id="description" name="description" rows="4" required>Description</textarea>
            
            <button type="submit">Update</button>
        </form> 
        </div>
    </div>
</body>