*{
    font-family: 'Inter', sans-serif;
}

hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center; 

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 285px;
    height: 85px;
}

.navbar {
    background-color: #004aad;
    border-style: none;
    border-radius: 25px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-divider {
    color: white;
}

.home-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.home-button:hover {
    color: #c3c3c3;
}
.bodega-sale-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.bodega-sale-button:hover{
    color: #c3c3c3;
}

.product-catalog-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.product-catalog-button:hover{
    color: #c3c3c3;
}

.my-cart-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-cart-button:hover{
    color: #c3c3c3;
}

.my-profile-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-profile-button:hover{
    color: #c3c3c3;
}

.bodega-sale-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.product-catalog-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}


.admin-indicator {
    background-color: #4caf50;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-left: 600px;
    margin-right: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}



.location{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}



.productContainer{
    width: 35rem;
    height: 7rem;
    display: flex;
    outline: 1px solid #063970;
    border-radius: 40px;
    margin: auto;

}

.productIcon {
    margin-left: 20px;
    width: 90px;
    height: 84px;
}

.productDetails{
    font-size: 1.2rem;
}

.borderDivider{
     border-top: 1px solid gray;
}

.leftDiv{
    display: flex;
    flex: 1;
  
    height: 100%;
    align-items: center;
    justify-content: left;
}

.rightDiv{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.top-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.bottom-right {
    flex: 1;
    position: relative;
    gap: 100px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.detailsInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleLabel {
    font-size: 2rem;
}

.locationLabel {
    font-size: 3rem;
}


.dateContainer{

    width: 22.5rem;
    height: 7rem;
    display: flex;
    border-radius: 40px;
    margin: auto;

}

.dateDetails{
    font-size: 1.5rem;
}



.productList {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    
    width: 80px;
    height: 80px;
}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.editBtn{
    bottom: 10px;
    right: 40px; 
    border-radius: 12px;
    border-color: black;
    background-color: Green;
    color: white;
    width: 100px;


}

.deleteBodegaBtn{
    bottom: 10px;
    right: 40px; 
    border-radius: 12px;
    border-color: black;
    background-color: Green;
    color: white;
    width: 100px;

}


.editBtn:hover,.deleteBodegaBtn:hover{
    bottom: 10px;
    right: 40px; 
    border-radius: 12px;
    background-color: white;
    border-color: black;
    color: black;
    width: 100px;
}

/* Admin side ----------------------- */

input[type="text"] {
            width: 150px; 
            padding: 6px; 
            border: 2px solid #063970; 
            border-radius: 5px; 
            font-size: 16px; 
            margin-left: 10px;
}

input[type="date"]{
    font-size: 16px; 
    width: 140px;   
}

input[type="time"]{
    font-size: 16px; 
    width: 100px;   
}


label{
    margin-right: 5px;
    font-size: 20px;
}

select {
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

select:focus {
    border-color: #063970;
}


.updateBtn{
    margin-left: 20px;
    bottom: 10px;
    right: 40px; 
    border-radius: 12px;
    border-color: black;
    background-color: Green;
    color: white;
    width: 100px;

}

.updateBtn:hover{
    bottom: 10px;
    right: 40px; 
    border-radius: 12px;
    background-color: white;
    border-color: black;
    color: black;
    width: 100px;
}

.addBtn{
    margin-left: 5px;
    border-radius: 12px;
    border-color: black;
    background-color: green;
    color: white;
    width: 120px;
}

.addBtn:hover{
    margin-left: 5px;
    border-radius: 12px;
    background-color: white;
    border-color: black;
    color: black;
    width: 120px;

 
}

.doneBtn{
    border-radius: 12px;
    border-color: black;
    background-color: green;
    color: white;
    width: 120px;

}

.doneBtn:hover{
    border-radius: 12px;
    background-color: white;
    border-color: black;
    color: black;
    width: 120px;

}

.deleteProductBtn{
    position: absolute;
    bottom: 10px;
    right: 40px; 
    border-radius: 12px;
    border-color: black;
    background-color: green;
    color: white;
    width: 120px;

}

.doneProductBtn:hover{
    position: absolute;
    bottom: 10px;
    right: 40px; 
    border-radius: 12px;
    background-color: white;
    border-color: black;
    color: black;
    width: 120px;

}





