*{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: white;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 285px;
    height: 85px;
}

.navbar {
    background-color: #004aad;
    border-style: none;
    border-radius: 25px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-divider {
    color: white;
}

.home-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.bodega-sale-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.product-catalog-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-cart-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-profile-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.outermost-shell {
    display: flex;
    flex-direction: row;
}

.left-outer-shell{
    display: flex;
    flex-direction: column;
}

.right-outer-shell {
    display: flex;
    flex-direction: column;
}

.right-inner-shell-row-1 {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-left: 45px;
}

.input-product-name{
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
    height: 30px;
    width: 350px;
    padding-left: 10px;
}

.peso-symbol {
    font-size: 20px;
    margin-top: 7.5px;
    margin-left: 10px;
}

.input-product-price {
    margin-left: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
    height: 30px;
    width: 175px;
    padding-left: 15px;
}

.right-inner-shell-row-2 {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-top: 10px;
}

.input-product-brand {
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
    height: 30px;
    width: 200px;
    padding-left: 10px;
}

.right-inner-shell-row-3 {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-top: 10px;
}

.input-product-stock {
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
    height: 30px;
    width: 35px;
    padding-left: 15px;
}

.stock-available-text {
    font-size: 17.5px;
    margin-top: 8px;
    margin-left: 10px;
}

.list-dropdown {
    margin-top: 10px;
    margin-left: 30px;
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
    width: 200px;
    text-align: center;
}

.list-status-text {
    font-size: 17.5px;
    margin-top: 7.5px;
    margin-left: 12px;
}

.right-inner-shell-row-4 {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-top: 10px;
}

.input-product-description {
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
    padding-left: 15px;
    padding-bottom: 175px;
    width: 750px;
    height: 50px;
}

.right-inner-shell-row-5 {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-top: 10px;
}

.save-button {
    background-color: #4caf50;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 390px;
    padding: 10px;
    text-align: center;
    width: 150px;
    color: white;
}

.discard-button {
    background-color: #db1f30;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 35px;
    padding: 10px;
    text-align: center;
    width: 150px;
    color: white;
}

.error-msg-container {
    display: flex;
    flex-direction: column;
}

.error-msg-img {
    font-size: 14px;
    color: red;
    margin-top: 2px;
    margin-left: 160px;
    display: none;
}

.error-msg-name-1 {
    font-size: 14px;
    color: red;
    margin-top: 2px;
    margin-left: 12px;
    display: none;
}

.error-msg-name-2 {
    font-size: 14px;
    color: red;
    margin-top: 2px;
    margin-left: 12px;
    display: none;
}

.error-msg-price {
    font-size: 14px;
    color: red;
    margin-top: 2px;
    margin-left: 26px;
    display: none;
}

.error-msg-brand {
    font-size: 14px;
    color: red;
    margin-top: 2px;
    margin-left: 12px;
    display: none;
}

.error-msg-description {
    font-size: 14px;
    color: red;
    margin-top: 2px;
    margin-left: 12px;
    display: none;
}

.error-msg-list {
    font-size: 12px;
    color: red;
    margin-top: 2px;
    margin-left: 20px;
    display: none;
}

.image{
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
    margin-left: 150px;
    margin-top: 75px;
    height: 150px;
    width: 150px;
    position: absolute;
}

.del-hover{
    position: absolute;
    display: none;
    margin-left: 163px;
    margin-top: 85px;
    color: red;
    text-decoration: none;
}

.img-container:hover + .del-hover{
    display: block;
}

.del-hover:hover{
    display: block;
}
/*START-1*/
.addimage-1{
    border-style: solid;
    border-radius: 15px;
    height: 70px;
    width: 70px;
    border-color: #004aad;
}

.scroll-del-hover-1{
    color: red;
    text-decoration: none;
    margin-left: 8.5px;
    margin-top: 5px;
    position: absolute;
    font-size: 14.5px;
    display: none;
}

.addimage-container-1:hover + .scroll-del-hover-1{
    display: block;
}

.scroll-del-hover-1:hover{
    display: block;
}
/*END-1*/
/*START-2*/
.addimage-2{
    border-style: solid;
    border-radius: 15px;
    height: 70px;
    width: 70px;
    margin-top: 2.5px;
    border-color: #004aad;
}

.scroll-del-hover-2{
    color: red;
    text-decoration: none;
    margin-left: 8.5px;
    margin-top: 85px;
    position: absolute;
    font-size: 14.5px;
    display: none;
}

.addimage-container-2:hover + .scroll-del-hover-2{
    display: block;
}

.scroll-del-hover-2:hover{
    display: block;
}
/*END-2*/
/*START-3*/
.addimage-3{
    border-style: solid;
    border-radius: 15px;
    height: 70px;
    width: 70px;
    margin-top: 2.5px;
    border-color: #004aad;
}

.scroll-del-hover-3{
    color: red;
    text-decoration: none;
    margin-left: 8.5px;
    margin-top: 165px;
    position: absolute;
    font-size: 14.5px;
    display: none;
}

.addimage-container-3:hover + .scroll-del-hover-3{
    display: block;
}

.scroll-del-hover-3:hover{
    display: block;
}
/*END-3*/
.scroll-image-1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 120px;
    text-align: center;
    padding: 20px;
    margin-left: 130px;
    margin-top: 220px;
}

.scroll-image-2 {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 120px;
    text-align: center;
    padding: 20px;
    margin-top: 220px;
}

.img-grid {
    display: flex;
    flex-direction: row;
}