/*Assigned to Ryan*/

*{
    font-family: 'Inter', sans-serif;
}
/*LARGE VERSION - START*/
.blue-box {
    position: absolute;
    background-color: #044dad;
    border:#004aad;
    border-radius: 55px;
    width: 500px;
    height: 200px;
    margin-left: 450px;
    color: #004aad;
    margin-top: 150px;
    opacity: 0.75;
}

.empty-icon {
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 200px;
    margin-left: 580px;
    margin-top: 40px;
}

.empty-msg{
    z-index: 2;
    position: absolute;
    margin-left: 580px;
    margin-top: 275px;
    color: white;
    font-size: 20px;
}
/*LARGE VERSION - END*/

/*SMALL VERSION - START*/
.blue-box {
    position: absolute;
    background-color: #044dad;
    border:#004aad;
    border-radius: 55px;
    width: 400px;
    height: 100px;
    margin-left: 475px;
    color: #004aad;
    margin-top: 150px;
    opacity: 0.75;
}

.empty-icon {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 150px;
    margin-left: 580px;
    margin-top: 45px;
}

.empty-msg{
    z-index: 2;
    position: absolute;
    margin-left: 580px;
    margin-top: 210px;
    color: white;
    font-size: 15px;
}
/*SMALL VERSION - END*/