/*Made by: Sandeon Gavan*/
*{
  font-family: 'Inter', sans-serif;
}
body{
    width: 100%;
}
.logo{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_png{
  width: 285px;
  height: 85px;
}
header {
    width: auto;
    min-width: fit-content;
   
  }

  nav{
    border-radius: 25px;
    background-color: #004aad;
    height:38px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  nav a{
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover{
    color: #c3c3c3;
  }

  .container{
   
    display: flex;
    flex-direction: row;
  }

  aside{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color:  #004aad;
    border-radius: 25px;
    height: fit-content;
    align-items: flex-start;
    width: fit-content;
  }

  .cat_button{
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
    background-color: #004aad; 
    color: #fff; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    border: none; 
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
  }

  .cat_button:hover{
    background-color: #0057c1;
  }

  #sale_items{
    margin-left: 50px;
    width:80%;
    height:90%;
  }

  #cart_items{
   
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    margin:10px;
    padding:10px;
    height: 80%;
    width: 90%;
  }

  .item{
   
    text-align: center;
    width: 150px;
    height: 150px;
    margin:5px;
    padding:5px;
    transition: box-shadow 0.3s ease;

  }
  /*integrate this to all sale items*/
  .item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .item_image{
    width: 100%;
    height: 60%;
    margin: 0px;
  }

  .item_name{
    margin-top:10px;
    margin-bottom: 5px;
  }
  .item_price{
    margin-top: 0px;
  }

  .product-image {
    max-height: 100%;
    max-width: 100%;
}
  
