/*Assigned to Ryan*/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 285px;
    height: 85px;
}

.navbar {
    background-color: #004aad;
    border-style: none;
    border-radius: 25px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-divider {
    color: white;
}

.home-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.bodega-sale-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.product-catalog-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-cart-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-profile-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.admin-indicator {
    background-color: #4caf50;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-left: 600px;
    margin-right: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.search-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.search-bar {
    margin-right: 5px;
    width: 100px;
}

.search-icon {
    margin-top: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

hr.top-line {
    border-radius: 25px;
    border-top: 2px solid gray;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.left-outer-shell {
    display: flex;
    flex-direction: column;
}

hr.bottom-line {
    border-radius: 25px;
    border-top: 2px solid gray;
}

.add-to-sale-button {
    background-color: #4caf50;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-left: 575px;
    margin-right: 500px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
}

.sort-button {
    background-color: #4caf50;
    border-radius: 10px;
    margin-left: 35px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.sort-text {
    color: white;
    text-decoration: none;
}

.brand-text {
    margin-top: 5px;
    margin-left: 35px;
    text-align: center;
}

.type-text {
    margin-top: 5px;
    margin-left: 35px;
    text-align: center;
}

.price-range-text {
    margin-top: 5px;
    margin-left: 35px;
    text-align: center;
}

.dropdown-brand {
    margin-top: 5px;
    margin-left: 35px;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
}

.dropdown-type {
    margin-top: 5px;
    margin-left: 35px;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
}

.dropdown-pricerange {
    margin-top: 5px;
    margin-left: 35px;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: #004aad;
}

.add-button {
    background-color: #4caf50;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 35px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.add-text {
    color: white;
    text-decoration: none;
}

.delete-button {
    background-color: #db1f30;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 35px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.delete-text {
    color: white;
    text-decoration: none;
}

.right-outer-shell {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.listing-checkbox-split{
    display: flex;
    flex-direction: row;
}

.checkbox {
    height: 25px;
    width: 25px;
    margin-top: 70px;
    margin-left: 50px;
}

.product-listing {
    border-style: solid;
    border-radius: 15px;
    border-width: thin;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.product-image {
    margin-left: 25px;
    height: 142.8px;
    width: 157.7px;
}

.center-inner-shell{
    margin-top: 40px;
    margin-left: 15px;
}

.edit-button {
    background-color: #4caf50;
    border-radius: 10px;
    margin-top: 120px;
    margin-left: 250px;
    padding: 5px;
    text-align: center;
    width: 150px;
}

.edit-text {
    color: white;
    text-decoration: none;
}