/*Assigned to Ryan*/
*{
    font-family: 'Inter', sans-serif;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 285px;
    height: 85px;
}
.navbar {
    background-color: #004aad;
    border-style: none;
    border-radius: 25px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-divider {
    color: white;
}

.home-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}
.home-button:hover {
    color: #c3c3c3;
}
.bodega-sale-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.bodega-sale-button:hover{
    color: #c3c3c3;
}

.product-catalog-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.product-catalog-button:hover{
    color: #c3c3c3;
}

.my-cart-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-cart-button:hover{
    color: #c3c3c3;
}

.my-profile-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.my-profile-button:hover{
    color: #c3c3c3;
}


.left-outermost-shell {
    border-style: solid;
    border-color: #004aad;
    border-radius: 15px;
    margin-left: 30px;
    height: 200px;
    width: 450px;
}

.line-divider {
    width: 750px;
}


.outermost-shell {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-left: 100px;
}

.product-catalog-button {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.right-outermost-shell {
    display: flex;
    flex-direction: column;
}

.right-row-1 {
    display: flex;
    flex-direction: row;
}

.your-cart-header {
    font-size: 20px;
    margin-left: 10px;
}

.unit-price-header {
    font-size: 20px;
    margin-left: 235px;
}

.quantity-header {
    font-size: 20px;
    margin-left: 235px;
}

.order-details-header-container {
    margin-top: 20px;
    margin-left: 20px;
}

.order-details-header {
    font-size: 20px;
}

.inner-line-divider {
    width: 410px;
}

.subtotal-header-container {
    margin-left: 20px;
}

.subtotal-header {
    font-size: 17.5px;
}

.subtotal-amount-header-container {
    margin-left: 300px;
    margin-top: 5px;
}

.subtotal-amount-header {
    font-size: 25px;
}

.checkout-button {
    background-color: #004aad;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 140px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.checkout-button:hover{
    background-color: #003d8c;
}

.checkout-text {
    color: white;
    text-decoration: none;
}

.image {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: #004aad;
    border-radius: 15px;
    margin-left: 15px;
}

.price {
    font-size: 20px;
}

.price-container {
    margin-top: 40px;
    margin-left: 110px;
}

.right-row-2 {
    display: flex;
    flex-direction: row;
}

.product-text {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 40px;
    margin-left: 10px;
}

.minus {
    height: 12px;
    width: 12px;
    margin-top: 40px;
    margin-left: 225px;
}

.plus {
    height: 12px;
    width: 12px;
    margin-top: 40px;
    margin-left: 10px;
}

.quantity {
    background-color: white;
    border-color:#004aad;
    border-style: solid;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    width: 25px;
    height: 10px;
}

.quantity-text {
    text-decoration: none;
    font-size: 17.5px;
    position: relative;
    bottom: 22.5px;
}

.remove {
    margin-left: 367.5px;
    text-decoration: none;
    background-color:#004aad;
    padding: 10px;
    color:white;
    border-radius: 15px;
}
.remove:hover{
    background-color:#003d8c;
}