/*Made by: Sandeon Gavan*/
body{
    width: 100%;
}
header {
    width: auto;
    background-color: #080808;
    color: #000000;
    padding: 10px;
    text-align: left;

  }

  header h1{
    font-size: large;
    color: #ffffff;
  }
  
  header h2{
    font-size: small;
    color: #ffffff;
  }

  .container{
   
    display: flex;
    flex-direction: row;
  }

  aside{
   
    float: left;
    width: 20%;
    height:400px;
    display: flex;
    flex-direction: column;

  }

  #profile{
    background-color:  rgba(0, 11, 211, 0.938);
    height: 400px;
    padding: 10px;
    margin-top: 30px;
  }
  #profile h1{
    font-size: large;
    color: white;
  }

  #profile p{
    font-size: medium;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }

  #profile img{
    width: 70px;
    height: 70px;
  }

  #cart{
    margin-left: 50px;
    width:80%;
    
  }

  #cart_items{
   
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    margin:10px;
    padding:10px;
    height: 700px;
    width: 90%;
  }

  .item{
   
    text-align: center;
    width: 150px;
    height: 150px;
    margin:5px;
    padding:5px;

  }

  .item_image{
    width: 100%;
    height: 60%;
    margin: 0px;
    
  }
