<!DOCTYPE html>
<html>
    <head>
        <!--Assigned to Ryan-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/checkoutcustomer.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkout (Customer)</title>
    </head>
    <body>
        <div class="page-container">
            <div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>
            <div class="navbar"> <!--Navbar (LINKS OF NAVBAR UNAVAILABLE FOR NOW)-->
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>
                <a class="bodega-sale-button" href="#">Bodega Sale!!!</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-cart-button" href="#">My Cart</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="#">My Profile</a>
            </div>
            <div class="outermost-shell">
                <div class="left-outermost-shell"> <!--Contains product list-->
                    <div class="right-row-1"> <!--Column headers-->
                        <a class="your-cart-header">Your Cart (3)</a>
                        <a class="unit-price-header">Unit Price</a>
                        <a class="quantity-header">Quantity</a>
                    </div>
                    <hr class="line-divider">
                    <div class="right-row-2">
                        <a href="#"><img class="image" src="/images/spin_dryer.jpg"></a>
                        <a href="#" class="product-text">Product Name</a>
                        <div class="price-container">
                            <a class="price">₱ XX.XX</a>
                        </div>
                        <div class="quantity">
                            <a class="quantity-text"><p>5</p></a>
                        </div>
                    </div>
                    <hr class="line-divider">
                    <div class="right-row-2">
                        <a href="#"><img class="image" src="/images/spin_dryer.jpg"></a>
                        <a href="#" class="product-text">Product Name</a>
                        <div class="price-container">
                            <a class="price">₱ XX.XX</a>
                        </div>
                        <div class="quantity">
                            <a class="quantity-text"><p>5</p></a>
                        </div>
                    </div>
                    <hr class="line-divider">
                    <div class="right-row-2">
                        <a href="#"><img class="image" src="/images/spin_dryer.jpg"></a>
                        <a href="#" class="product-text">Product Name</a>
                        <div class="price-container">
                            <a class="price">₱ XX.XX</a>
                        </div>
                        <div class="quantity">
                            <a class="quantity-text"><p>5</p></a>
                        </div>
                    </div>
                    <hr class="line-divider">
                </div>
                <div class="right-outermost-shell"> <!--Contains Order details-->
                    <div class="order-details-header-container">
                        <a class="order-details-header">Order Details</a>
                    </div>
                    <hr class="inner-line-divider">
                    <div class="inner-order-shell-row-1">
                        <div class="subtotal-header-container">
                            <a class="subtotal-header">Subtotal:</a>
                        </div>
                        <div class="subtotal-amount-header-container">
                            <a class="subtotal-amount-header">₱ XX.XX</a>
                        </div>
                    </div>
                    <div class="inner-order-shell-row-2">
                        <div class="shipping-header-container">
                            <a class="shipping-header">Shipping Cost:</a>
                        </div>
                        <div class="shipping-amount-header-container">
                            <a class="shipping-amount-header">₱ XX.XX</a>
                        </div>
                    </div>
                    <div class="inner-order-shell-row-3">
                        <div class="payment-header-container">
                            <a class="payment-header">Payment Total:</a>
                        </div>
                        <div class="payment-amount-header-container">
                            <a class="payment-amount-header">₱ XX.XX</a>
                        </div>
                    </div>
                    <hr class="inner-line-divider">
                    <div class="bottom-shell">
                        <div class="bottom-shell-row">
                            <div class="left-upper-bottomshell">
                                <div class="payment-method-container">
                                    <a class="payment-method-text">Payment Method:</a>
                                </div>
                                <div class="edit-container">
                                    <a href="#" class="edit-text">Edit</a>
                                </div>
                            </div>
                            <div class="right-upper-bottomshell">
                                <img class="payment-image" src="/images/visa_icon.png">
                                <div class="card-end-text-container">
                                    <a class="card-end-text">Ending in XXXX</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-shell-row">
                            <div class="left-bottom-bottomshell">
                                <div class="address-container">
                                    <a class="address-text">Address:</a>
                                </div>
                                <div class="edit-container">
                                    <a href="#" class="edit-text">Edit</a>
                                </div>
                            </div>
                            <div class="right-bottom-bottomshell">
                                <div class="postage-container">
                                    <a class="postage-text">
                                        Mister Customer            <br>
                                        13822 NE Airport Way       <br>
                                        Portland, Oregon 97251-9614<br>
                                        United States
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-button">
                        <a class="order-text" href="#">Place Order</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>