<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/ongoingbodegasalecustomer.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ongoing Bodega Sale (Customer)</title>
</head>
<body>
<div id="main-content">
	<div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>
            <div class="navbar"> <!--Navbar (LINKS OF NAVBAR UNAVAILABLE FOR NOW)-->
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>
                <a class="bodega-sale-button" href="#">Bodega Sale!!!</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-cart-button" href="#">My Cart</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="#">My Profile</a>
            </div>
    


    <div class="details">
		 <div class="detailsInfo">
		 
		    <span class="titleLabel">
		     	(Title) ManilaRUSH
		     </span>
		     
		</div> 
	</div>

    <div class="details">
		 <div class="detailsInfo">
		    <img class="icon" src="/images/location.png">
		    <span class="locationLabel">
		     	METRO MANILA
		     </span>
		     
		</div> 
	</div>

	<div class="dateContainer">

		<div class="leftDiv">

		 	<img class="icon" src="/images/date.png" />
		 </div>

		<div class="rightDiv">

		 	<div class="top-right">
			  	<span class="dateDetails-start">October 20, 2023 ; 2:00pm</span> 
           	</div>


           	<div class="bottom-right">
				<span class="dateDetails-end">October 23, 2023 ; 6:00pm</span>
            </div>
		</div>

	</div>	
    	
   
    	
	<div class="productContainer">

		<div class="leftDiv">

		 	<img class="productIcon" src="/images/aircon.png" />
		 </div>

		<div class="rightDiv">

		 	<div class="top-right">
			  	<span class="productDetails">Product_Name | Brand | Type | Quantity </span>
           	</div>

           	<div class="borderDivider"></div>

           	<div class="bottom-right">
				<span class="productDetails-price"><s>₱ X,XXX</s> ₱ X,XXX</span>

            </div>
		</div>

	</div>

	<br>

	<div class="productContainer">

		<div class="leftDiv">

		 	<img class="productIcon" src="/images/aircon.png" />
		 </div>

		<div class="rightDiv">

		 	<div class="top-right">
			  	<span class="productDetails">Product_Name | Brand | Type | Quantity </span>
               		 
           	</div>

           	<div class="borderDivider"></div>

           	<div class="bottom-right">
				<span class="productDetails"><s>₱ X,XXX</s> ₱ X,XXX</span>
				
            </div>
		</div>

	</div>

	<br>

	<div class="productContainer">

		<div class="leftDiv">

		 	<img class="productIcon" src="/images/aircon.png" />
		 </div>

		<div class="rightDiv">

		 	<div class="top-right">
			  	<span class="productDetails">Product_Name | Brand | Type | Quantity </span>
               		 
           	</div>

           	<div class="borderDivider"></div>

           	<div class="bottom-right">
				<span class="productDetails"><s>₱ X,XXX</s> ₱ X,XXX</span>
				
            </div>
		</div>

	</div>

	<br><br>

</div>
</body>
</html>