<!DOCTYPE html>
<html>
    <head>
        <!--Assigned to Ryan-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/productdescriptioncustomer.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit Product Details (Admin)</title>
    </head>
    <body>
        <div class="page-container">
            <div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>
            <div class="navbar"> <!--Navbar (LINKS OF NAVBAR UNAVAILABLE FOR NOW)-->
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>
                <a class="bodega-sale-button" href="#">Bodega Sale!!!</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-cart-button" href="#">My Cart</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="#">My Profile</a>
            </div>
            <div class="outermost-shell"> <!--Contains all the input boxes and buttons-->
                <div class="left-outer-shell"> <!--Contains input images & image scrollbar-->
                    <a href="#"><img class="image" src="/images/spin_dryer.jpg"></a>
                    <div class="scroll-image">
                        <a href="#"><img class="addimage" src="/images/spin_dryer.jpg"></a>
                        <a href="#"><img class="addimage" src="/images/spin_dryer.jpg"></a>
                        <a href="#"><img class="addimage" src="/images/spin_dryer.jpg"></a>
                    </div>
                </div>
                <div class="right-outer shell">
                    <div class="right-inner-shell-row-1"> <!--Product Name-->
                        <a class="product-name">PRODUCT NAME</a>
                    </div>
                    <div class="right-inner-shell-row-2"> <!--Price & Discount Tag-->
                        <a class="price">₱ <s>XX.XX</s> ₱ XX.XX</a>
                        <div class="discount-tag">
                            <a class="discount-text"><p>44% OFF</p></a>
                        </div>
                    </div>
                    <div class="right-inner-shell-row-3"> <!--Quantity, Add to Cart, & Buy Now Buttons-->
                        <a href="#"><img class="minus" src="/images/minus.png"></a>
                        <div class="quantity">
                            <a class="quantity-text"><p>5</p></a>
                        </div>
                        <a href="#"><img class="plus" src="/images/plus.png"></a>
                        <a class="stock-available-text">10 Stock Available</a>
                        <div class="add-to-cart-button">
                            <a class="add-to-cart-text" href="#">Add to Cart</a>
                        </div>
                        <div class="buy-now-button">
                            <a class="buy-now-text" href="#">Buy Now</a>
                        </div>
                    </div>
                    <hr class="line-divider">
                    <div class="right-inner-shell-row-4"> <!---->
                        <a class="product-type">PRODUCT TYPE</a>
                    </div>
                    <div class="right-inner-shell-row-5"> <!---->
                        <a class="product-brand">PRODUCT BRAND</a>
                    </div>
                    <hr class="line-divider">
                    <div class="right-inner-shell-row-6"> <!---->
                        <a class="product-description">
                            PRODUCT DESCRIPTION...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>