<!DOCTYPE html>
<html>
    <head>
        <!--Assigned to Ryan-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/productlistcustomer.css">
        <link rel="stylesheet" type="text/css" media="all" href="/css/guest_NavBar.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product List (Customer)</title>
    </head>
    <body>
        <div class="page-container">
            <%- include('../partials/guest_NavBar')%>
            <div class="search-container"> <!--Contains search bar and search button-->
                <input class="search bar" size="50" type="text" placeholder="Search for products..">
                <a href="#"><img class="search-icon" src="/images/search.png"></a>
            </div>

            <hr class="top-line"> <!--Horizontal line-->
            
            <div class="content-container"> <!--Contains most of the stuff inside the page-->
                <div class="left-outer-shell"> <!--Contains filters, add, and delete product buttons-->
                    <div class="sort-button">
                        <a class="sort-text" href="#">Sort</a>
                    </div>
                    <div class="brand-text">
                        Brand
                    </div>
                    <select name="brand" class="dropdown-brand">
                        <option value="null">--Choose a Brand--</option>
                        <option value="union">Union</option>
                        <option value="promac">Promac</option>
                        <option value="nakatomi">Nakatomi</option>
                    </select>
                    <div class="type-text">
                        Type
                    </div>
                    <select name="type" class="dropdown-type">
                        <option value="null">--Choose a Type--</option>
                        <option value="cooler">Cooler</option>
                        <option value="cooker">Cooker</option>
                        <option value="fan">Fan</option>
                    </select>
                    <div class="price-range-text">
                        Price Range
                    </div>
                    <select name="pricerange" class="dropdown-pricerange">
                        <option value="null">--Choose a Price Range--</option>
                        <option value="cheap">Below PHP1000</option>
                        <option value="average">PHP 1000 to PHP 2000</option>
                        <option value="expensive">Over PHP2000</option>
                    </select>
                </div>
                <div class="right-outer-shell"> <!--Contains product list, checkboxes, and horizontal lines-->
                    <% products.forEach((product)=> { %>
                        <%- include('../partials/productlist_Customer', {product: product}); %>
                    <% }) %>
                </div>
            </div>

            <hr class="bottom-line"> <!--Horizontal line-->
        </div>
    </body>
</html>