<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/saledetails.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View Sale Details</title>

</head>
<body>
	

<div id="main-content">
	<div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>
            <div class="navbar"> <!--Navbar (LINKS OF NAVBAR UNAVAILABLE FOR NOW)-->
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>
                <a class="bodega-sale-button" href="#">Bodega Sale!!!</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-cart-button" href="#">My Cart</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="#">My Profile</a>
            </div>
            <div class="admin-indicator"> <!--Admin indicator-->
                <a>You are in Admin mode</a> 
            </div>

    <div class="details">
    	<div class="detailsInfo">
		     <img class="icon" src="/images/date.png">
		     <span class="dateLabel">
		     	 3d 13h 42m 51s
		     </span>
		     
		</div> 
    </div>
    	
   
    	<div class="details">
		  	<div class="detailsInfo">
		        <img class="icon" src="/images/location.png">
		        <span class="locationLabel">
		     		Bodega Location: QUEZON CITY
		     	</span>
		     
			</div> 
		</div>

		<div class="details">
		  	<div class="detailsInfo">
		        <img class="icon" src="/images/available.png">
		        <span class="availableLabel">
		     		Available products:
		     	</span>
		     
			</div> 
		</div>
<hr>
		<div class="availableProducts">		  	
		        <span class="productLabel">
		     		Aircon
		     	</span>

		     	<span class="productLabel">
		     		Speaker
		     	</span>

		     	<span class="productLabel">
		     		Couch
		     	</span>

		     	<span class="productLabel">
		     		Couch
		     	</span>

		     	<span class="productLabel">
		     		Couch
		     	</span>
		     <input class="shopBtn" type="submit" value="Shop Now"/>
		     
		</div>

	      

</div>
</body>
</html>