<!DOCTYPE html> 
    <!--Made by: Sandeon Gavan-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Cart</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/user_cart_style.css">

</head>
<body>
    <header>
        <h1> BX Appliances</h1>
        <nav>
            navbar
        </nav>
    </header>
    <div class="container">
        <aside>
            <div id="profile">
                <img src="/images/profile.png">
                <h1>John Doe</h1>
                <p>A basic description of the user Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam dolorem aspernatur tempora vero consequatur, fuga ullam vitae corporis quas!</p>
            </div>
        </aside>
        <div id="cart">
            <h1>Shopping Cart</h1>
            <div id="cart_items">
                <div class="item">
                    <p class="item_image"><a href="/login"> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>
                
                
            </div>
        </div>

    </div>
</body>
</html>