<!DOCTYPE html> 
    <!--Made by: Sandeon Gavan-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Cart</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/user_cart_style.css">

</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
        </div>
        
            <nav>
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>   
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>   
                <a class="product-catalog-button" href="#">My Cart</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" onclick="redirectToProfile()">My Profile</a>
            </nav>
        </header>
    <div class="container">
        <aside>
            <div id="profile">
                <img src="images/profile.png">
                <h1>John Doe</h1>
                <p>123 Fake St., Fake Brgy, Fake City</p>
                <p>A basic description of the user Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam dolorem aspernatur tempora vero consequatur, fuga ullam vitae corporis quas!</p>
                <p>Payment Method: X</p> <!--Use javascript to change X to appropriate payment method-->
                <div id="editButton">
                    <button id="editProfile" onclick="redirectToEditProfile()">Edit Profile</button>
                </div>
            </div>
        </aside>
        <div id="cart">
            <h1>Shopping Cart</h1>
            <div id="cart_items">
                <div class="item">
                    <p class="item_image"><a href="/login"> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="  /images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                </div>
                
                
            </div>
        </div>

    </div>

    <script>

        //redirects user to desired page. please check routing here.
        function redirectToEditProfile() {    //src/views/profile_customer_edit
                window.location.href = '/profile_customer_edit'; //redirects to profile_customer_edit.ejs
                //for some reason it won't redirect to it
            }
        function redirectToProfile(){
                //window.location.href = '#'
        }
    </script>
</body>
</html>