<!DOCTYPE html>
<html>
    <head>
        <!--Assigned to Ryan-->
        <link rel="stylesheet" href="/css/error_screen.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product List View (Admin)</title>
    </head>
    <body>
        <div class="page-container">
            <div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>
            <div class="navbar"> <!--Navbar (LINKS OF NAVBAR UNAVAILABLE FOR NOW)-->
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>
                <a class="bodega-sale-button" href="#">Bodega Sale!!!</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-cart-button" href="#">My Cart</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="#">My Profile</a>
            </div>
            <div class="error-container">
                <img class="error-icon" src="/images/error_icon.png">
                <div class="blue-box">
                    . <!--THIS PERIOD IS JUST TO MAKE THE BOX APPEAR-->
                </div>
                <a class="error-msg-1"><strong>Whoops! Error [X] detected!</strong></a>
                <a class="error-msg-2"><strong>Please try again later while the issue is being fixed.</strong></a>
            </div>
        </div>
    </body>
</html>