<!--Made by: Sandeon Gavan-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage_general_style.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
        </div>
        
            <nav>
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>   
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="admin_profile.html">My Profile</a>
            </nav>
        </header>
    <div class="container">
        <aside>
                <button class="cat_button">Accesories</button>
                <button class="cat_button">Air Conditioner</button>
                <button class="cat_button">Color TV</button>
                <button class="cat_button">Electric Fan</button>
                <button class="cat_button">Freezer/Chiller</button>
                <button class="cat_button">Personal Computer</button>
                <button class="cat_button">Small Kitchen Appliances</button>
                <button class="cat_button">Speaker</button>
                <button class="cat_button">Storage/Plasticware</button>
                <button class="cat_button">Uncategorised</button>
                <button class="cat_button">Washing Machine/Dryer</button>
                <button class="cat_button">Vacuum Cleaner</button>
                <button class="cat_button">Videoke Machine</button>

        </aside>
        <div id="sale_items">
            <h1>For Sale</h1>
            <div id="cart_items">
                <div class="item">
                    <p class="item_image"><a href="/login"> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/aircon.png" alt="product" width="100" height="100">
                        </a></p>
                        <p class="item_name">UNION UGAIR-5000</p>
                        <p class="item_price"> PHP 10000</p>
                </div>

                <div class="item">
                    <p class="item_image"><a href=""> <!--href links to products info page-->
                        <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                        </a></p>
                        <p class="item_name">Really nice dryer</p>
                        <p class="item_price"> PHP 10000</p>
                </div>
                
                
            </div>
        </div>

    </div>
</body>
</html>