<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BX Appliances</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/homepage_style.css">
</head>
<body>
    <header>
        <h1> BX Appliances</h1>
        <nav>
            navbar
        </nav>
    </header>

    <div class="container">
        <div class="product">
            <img src="images/aircon.png">
            <p>Product Name</p>
            <p>Price</p>
            <p>Condition</p>
        </div>
    </div>
</body>
</html>