<!--Made by: Sandeon Gavan-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/edit_profile_customer.css">
    <title>Edit Details</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
        </div>
        
            <nav>
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>   
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="admin_profile.html">My Profile</a>
            </nav>
        </header>

    <div class="container">
        <div class="editProfile">
            <img src="images/profile.png">
            <form class="enter_form">
                <label for="profilePhoto">Change Profile Photo:</label>
               <input type="file" id="profilePhoto" name="profilePhoto">
               
                 <input type="text" id="description" name="description" placeholder="Update your description">
                <input type="text" id="address" name="address" placeholder="Update your address">
                <select>
                    <option value="cashOnDelivery">Cash On Delivery</option>
                    <option value="gcash">GCash</option>
                </select>

            <button id="updateProfile" onclick="">Update Profile</button>
             </form>

        </div>
    </div>
</body>
</html>