<!--Made by: Sandeon Gavan-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/edit_profile_customer_style.css">
    <title>Edit Details</title>
</head>
<body>
    <header>
        <h1> BX Appliances</h1>
        <nav>
            navbar
        </nav>
    </header>

    <div class="container">
        <div class="editProfile">
            <img src="images/profile.png">
            <form class="enter_form">
                <label for="profilePhoto">Change Profile Photo:</label>
               <input type="file" id="profilePhoto" name="profilePhoto">
               
           
                 <input type="text" id="description" name="description" placeholder="Update your description">
                <input type="text" id="address" name="address" placeholder="Update your address">
                <select>
                  <option value="cashOnDelivery">Cash On Delivery</option>
                 <option value="gcash">GCash</option>
                 </select>

            <button id="updateProfile" onclick="">Update Profile</button>
             </form>

        </div>
    </div>
</body>
</html>