<!--Made by: Sandeon Gavan-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile_customer_style.css">
    <title>Profile Page</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
        </div>
        
            <nav>
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>   
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="admin_profile.html">My Profile</a>
            </nav>
        </header>

    <div class="container">
        <aside>
            <div id="profile">
                <img src="images/profile.png">
                <h1>John Doe</h1>
                <p>123 Fake St., Fake Brgy, Fake City</p>
                <p>A basic description of the user Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam dolorem aspernatur tempora vero consequatur, fuga ullam vitae corporis quas!</p>
                <p>Payment Method: X</p> <!--Use javascript to change X to appropriate payment method-->
                <div id="editButton">
                    <button id="editProfile" onclick="redirectToEditProfile()">Edit Profile</button>
                </div>
            </div>
        </aside>

        <div id="cart_container">
            <div class="cart">
                <h1>Your Orders</h1>
                <div id="cart_items">
                    <div class="item">
                        <p class="item_image"><a href="/login"> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div> 
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div> 
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div> 
                </div>
               </div>
    
               <div class="cart">
                <h1>Past Orders</h1>
                <div id="cart_items">
                    <div class="item">
                        <p class="item_image"><a href="/login"> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div> 
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div> 
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/spin_dryer.jpg" alt="product"  width="100" height="100">
                            </a></p>
                            <p class="item_name">Really nice dryer</p>
                    </div>
    
                    <div class="item">
                        <p class="item_image"><a href=""> <!--href links to products info page-->
                            <img src="images/aircon.png" alt="product" width="100" height="100">
                            </a></p>
                            <p class="item_name">UNION UGAIR-5000</p>
                    </div> 
                </div>
               </div>
        </div>
       

        <script>
            function redirectToEditProfile() {    //src/views/profile_customer_edit
                window.location.href = '/profile_customer_edit'; //redirects to profile_customer_edit.ejs
                //for some reason it won't redirect to it
            }
        </script>   

</body>
</html> 