<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/addProduct_Admin.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add Product (Admin)</title>
        <!--This page is adding new products-->
        <!--Admins only-->
    </head>
    <body>
        <div class="page-container">
            <div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>

            <%- include('../partials/admin_NavBar') %>

            <form id="registerForm" name="registerForm" action="/admin/products/add" method="post" enctype="multipart/form-data"></form>
                <div class="outermost-shell"> <!--Contains all the input boxes and buttons-->
                        <div class="left-outer-shell"> <!--Contains input images & image scrollbar-->
                            
                            <input type="file" id="image-upload" name="image" accept="image/*" form="registerForm" hidden multiple>

                            <div class="image-with-delete">
                                <a class="img-container" href="#"><img class="image" src="/images/uploadimage.png"></a>
                                <!-- <a class="del-hover" href="#">X</a> -->
                            </div>

                            <div class="error-msg-container">
                                <a class="error-msg-img">Upload at least (1) image</a>
                            </div>

                            <div class="img-grid">
                                <div class="scroll-image-1">
                                    
                                        <a class="addimage-container-1" href="#"><img class="addimage-1" src="/images/uploadimage.png"></a>
                                        <a class="scroll-del-hover-1" href="#">X</a>
                                    
                                    
                                        <a class="addimage-container-2" href="#"><img class="addimage-2" src="/images/uploadimage.png"></a>
                                        <a class="scroll-del-hover-2" href="#">X</a>
                                    
                                    
                                        <a class="addimage-container-3" href="#"><img class="addimage-3" src="/images/uploadimage.png"></a>
                                        <a class="scroll-del-hover-3" href="#">X</a>
                                    
                                </div>
                                <!-- <div class="scroll-image-2">
                                    <a class="addimage-container-1" href="#"><img class="addimage-1" src="/images/uploadimage.png"></a>

                                    <a class="scroll-del-hover-1" href="#">X</a>
                                    <a class="addimage-container-2" href="#"><img class="addimage-2" src="/images/uploadimage.png"></a>
                                    
                                    <a class="scroll-del-hover-2" href="#">X</a>
                                    <a class="addimage-container-3" href="#"><img class="addimage-3" src="/images/uploadimage.png"></a>
                                    <a class="scroll-del-hover-3" href="#">X</a>
                                </div> -->
                            </div>
                        </div>

                        <div class="right-outer shell"> <!--Contains text & drop down inputs-->
                            <div class="right-inner-shell-row-1"> <!--Product Name & Price-->
                                <div class="error-msg-container">
                                    <input class="input-product-name" type="text" id="name" name="name" placeholder="Product name..">
                                    <a class="error-msg-name-1">Please enter the product name</a>
                                    <a class="error-msg-name-2">That product name is already listed</a>
                                </div>
                                <a class="peso-symbol">₱</a>
                                <div class="error-msg-container">
                                    <input class="input-product-price" type="number" id="price" name="price" placeholder="0">
                                    <a class="error-msg-price">Please enter the product price</a>
                                </div>
                            </div>
                            <div class="right-inner-shell-row-2"> <!--Product Brand-->
                                <div class="error-msg-container">
                                    <input class="input-product-brand" type="text" id="brand" name="brand" placeholder="Product brand..">
                                    <a class="error-msg-brand">Please enter the product brand</a>
                                </div>
                            </div>
                            <div class="right-inner-shell-row-3"> <!--Available Stock & Available Quantity-->
                                <input class="input-product-stock" type="text" id="stock" name="quantity"  placeholder="0">
                                <a class="stock-available-text">Stock Available</a>
                                <div class="error-msg-container">
                                    <select class="list-dropdown" id="status" name="status">
                                        <option value="listed">--Select a List Status--</option>
                                        <option value="listed">Listed</option>
                                        <option value="unlisted">Unlisted</option>
                                    </select>
                                    <a class="error-msg-list">Please select this product's list status</a>
                                </div>
                                <a class="list-status-text">List Status</a>
                            </div>
                            <div class="right-inner-shell-row-4"> <!--Product Description-->
                                <div class="error-msg-container">
                                    <input class="input-product-description" type="text" id="description" name="description" placeholder="Product description..">
                                    <a class="error-msg-description">Please enter the product description</a>
                                </div>
                            </div>
                            <div class="right-inner-shell-row-5"> <!--Discard Changess & Save Buttons-->
                                <button class="save-button" id="save-btn" type="submit">Add Product</button>
                                <button class="discard-button" id="cancel-btn">Cancel</button>
                            </div>
                        </div>
                </div>
            </form>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {

                document.getElementById("cancel-btn").addEventListener("click", () => {
                    window.location.href = "/admin/products"
                })

                // Image uploading and previewing
                var allImages = []
                document.getElementsByClassName('image-with-delete')[0].addEventListener('click', () => {
                    document.getElementById('image-upload').click()
                })

                document.getElementById('image-upload').addEventListener('change', (event) => {
                    const files = event.target.files
                    for (file of files) {
                        allImages.push(file)
                    }
                    
                    // Put files in the preview grid
                    for (let i = 0; i < allImages.length; i++) {
                        const image = allImages[i]
                        const reader = new FileReader()
                        // Put the 4th image and beyond in the second scroll grid
                        
                        // if (i > 2) {
                        //     console.log("inside if");
                        //     reader.onload = (e) => {
                        //         const img = document.getElementsByClassName('addimage-' + (i - 2))[1]
                        //         img.src = e.target.result
                        //     }
                        //     continue
                        // }
                        reader.onload = (e) => {
                            const img = document.getElementsByClassName('addimage-' + (i + 1))[0]
                            const img_x_btn = document.getElementsByClassName('scroll-del-hover-' + (i + 1))[0]

                            img_x_btn.setAttribute('data_index', allImages.indexOf(image))
                            img_x_btn.addEventListener('click', (event) => {
                                const index = parseInt(event.target.getAttribute('data_index'))
                                allImages.splice(index, 1)
                                // get list of children of parent node
                                console.log(this)
                                
                            })
                            img.src = e.target.result
                        }
                        reader.readAsDataURL(image)
                    }
                })

                document.getElementById("save-btn").addEventListener("click", () => {
                    event.preventDefault()

                    const formData = new FormData()
                    
                    // Append form fields to the body
                    formData.append('name', document.getElementById('name').value)
                    formData.append('brand', document.getElementById('brand').value)
                    formData.append('description', document.getElementById('description').value)
                    formData.append('quantity', document.getElementById('stock').value)
                    formData.append('price', document.getElementById('price').value)
                    formData.append('status', document.getElementById('status').value)

                    // Append each file to the FormData object
                    allImages.forEach((file, index) => {
                        formData.append('files[]', file, file.name);
                    });

                    // Use fetch API to send the files
                    fetch('/admin/products/add', { // Replace with your server endpoint
                        method: 'POST',
                        body: formData
                    }).then((response) => {
                        if (response.status == 200) {
                            window.location.href = "/admin/products?" + new Date().getTime() // This is to refresh the page
                        }
                    }).catch((error) => {
                        console.error(error)
                    })
                })
            })
        </script>

    </body>
</html>