<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="all" href="/css/addProduct.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add product</title>
</head>
<body>
<div id="main-content">
	<div id="contentContainer">
	    <h1> Product Add</h1>

	    <!-- Form Tab -->
	    <div id="registerContainer" class="tabcontent">
	        <form id="registerForm" name="registerForm" action="/admin/products/add" method="post" enctype="multipart/form-data">
	            <input id="prodName" name="name" type="text" placeholder="Product Name" required />
				<input id="prodBrand" name="brand" type="text" placeholder="Product Brand" />
	            <input id="prodPrice" name="price" type="number" placeholder="Product Price" required />
	          	<input type="number" min="1" step="1" id="prodQuantity" name="quantity" placeholder="Product Quantity" required />
				<input type="file" name="images" multiple required />
				<br>
	          	<textarea cols="80" rows="5" name="description" placeholder="Product Description" required></textarea> 
				<br>
	            <input class="submitBtn" id="registerBtn" type="submit" value="Add product"/>
	        </form>
	    </div>
	  

	    <hr>
	    
	    <div id="productList">

	        
	        <div class="productContainer">
	        	<div class="topDiv">
		            <img class="icon" src="/images/aircon.png" />
		            <div class="productInfo">
		                
		                <span class="nameLabel"> AirFryer</span>
		                <span class="brandLabel"> Sony</span>
		               
		            </div>

		            <div class="productInfo">
		            <div class="status Instock"></div>
		          
		            <span class="quantityLabel"> 64 left </span>
		            </span>
		            </div>

		            <div class="productInfo">
		            	<span class="priceLabel">₱500</span>

		            </div>
		            <div class="productUpdate">
		            	<button class="update-button" onclick="updateItem()">Update</button>
    					<button class="delete-button" onclick="deleteItem()">Delete</button>
		            </div>

		        </div>    

		        <div class="bottomDiv">
		        	<div class="productInfo">
		    
		            <span class="descriptionLabel"> This product is This product isThis product isThis product isThis product isThis product isThis product isThis product isThis product isThis product is  </span>
		
		            </span>
		            </div>
		        </div>
		     </div>


		  	<div class="productContainer">
	        	<div class="topDiv">
		            <img class="icon" src="/images/aircon.png" />
		            <div class="productInfo">
		                
		                <span class="nameLabel"> Speakers</span>
		                <span class="brandLabel"> Sony</span>
		               
		            </div>

		            <div class="productInfo">
		            <div class="status Instock"></div>
		           
		            <span class="quantityLabel"> 64 left </span>
		            </span>
		            </div>

		            <div class="productInfo">
		            	<span class="priceLabel">₱5000</span>
		            </div>

		             <div class="productUpdate">
		            	<button class="update-button" onclick="updateItem()">Update</button>
    					<button class="delete-button" onclick="deleteItem()">Delete</button>
		            </div>
		        </div>    

		        <div class="bottomDiv">
		        	<div class="productInfo">
		    
		            <span class="descriptionLabel"> This product is This product isThis product isThis product isThis product isThis product isThis product isThis product isThis product isThis product is  </span>
		
		            </span>
		            </div>
		        </div>
		     </div>

	       <div class="productContainer">
	        	<div class="topDiv">
		            <img class="icon" src="/images/aircon.png" />
		            <div class="productInfo">
		                
		                <span class="nameLabel"> aircon</span>
		                <span class="brandLabel"> union</span>
		               
		            </div>

		            <div class="productInfo">
		            <div class="status Soldout"></div>
		         
		            <span class="quantityLabel"> 0 left </span>
		            </span>
		            </div>

		            <div class="productInfo">
		            	<span class="priceLabel">₱200</span>
		            </div>

		             <div class="productUpdate">
		            	<button class="update-button" onclick="updateItem()">Update</button>
    					<button class="delete-button" onclick="deleteItem()">Delete</button>
		            </div>
		        </div>    

		        <div class="bottomDiv">
		        	<div class="productInfo">
		    
		            <span class="descriptionLabel"> This product is This product isThis product isThis product isThis product isThis product isThis product isThis product isThis product isThis product is  </span>
		
		            </span>
		            </div>
		        </div>
		     </div>
	        
	    </div>
	</div>
</div>
</body>
</html>