<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/profile_admin_style.css">
    <title>Admin Profile</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img class ="logo_png" src="/public/images/BXlogo.png"></a>
        </div>
        
            <nav>
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>   
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="admin_profile.html">My Profile</a>
            </nav>
        </header>
    <div id="profile">
        <img src="/public/images/profile.png">
        <h1>John Doe</h1>
        <p>123 Fake St., Fake Brgy, Fake City</p>
        <p>A basic description of the user Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam dolorem aspernatur tempora vero consequatur, fuga ullam vitae corporis quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis facilis, assumenda atque quaerat quia libero, in quibusdam debitis repellat, magni beatae ipsa? Aspernatur voluptas aliquam quibusdam, amet iusto porro aperiam ut, doloribus dicta deserunt ipsa? Voluptate itaque exercitationem, architecto ut quidem quae! Maxime dolore laudantium provident suscipit placeat, facilis aliquam.</p>
        <div id="editButton">
            <button id="editProfile" onclick="redirectToEditProfile()">Edit Profile</button>
        </div>
    </div>
</html>