<!--Made By: Sandeon Gavan-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/allOrders.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Orders</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
        </div>
        
        <%- include('../partials/admin_NavBar') %>
        </header>

        <div class="order_list">
            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>

            <div class="order_item">
                <p class="order_image"><a href="#"> <!--href links to order's specific page-->
                    <img src="/images/aircon.png" alt="order">
                    </a></p>
                    <p class="order_number">Order #: 00000000</p>
                    <p class="order_status">Delivered</p>
            </div>
        </div>
</body>
</html>