<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/bodegasale.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bodega Sale View (Admin)</title>

</head>
<body>
	

<div id="main-content">

	<div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>
            <div class="navbar"> <!--Navbar (LINKS OF NAVBAR UNAVAILABLE FOR NOW)-->
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>
                <a class="bodega-sale-button" href="#">Bodega Sale!!!</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Product Catalog</a>
                <a class="navbar-divider">|</a>
                <a class="my-cart-button" href="#">My Cart</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="#">My Profile</a>
            </div>

    <br>
    
	<div class="details">
		 <div class="detailsInfo">
		    <span class="titleLabel">
		     	Title: 
		     </span>
		     <input type="text" class="titleUpdate" name="titleUpdate" placeholder="Updated..">
		     <button class="updateBtn">Update</button>
		     
		</div> 
	</div>
		     
		</div> 
	</div>

    <div class="details">

    	<form>
		<div class="detailsInfo">
		    <img class="icon" src="/images/location.png">

		       
			<label for="location">Bodega Location: </label>
			<select id="location" name="location">
			    <option value="option1">Quezon City</option>
			    <option value="option2">Metro Manila</option>
			    <option value="option3">Pasay</option>
			    <option value="option4">Baguio</option>
			</select>
			<button class="updateBtn">Update</button>

			 </div> 
		</form>
		   		
	</div>

    <div class="details">
		<div class="dateContainer">

			<div class="leftDiv">

			 	<img class="icon" src="/images/date.png" />
			 </div>

			<div class="rightDiv">

			 	<div class="top-right">
			 		<div class="detailsInfo">
						<label for="date">Start:</label>
				        <input type="date" id="date" name="date">
				        <input type="time" id="time" name="time">
				    </div>
	           	</div>


	           	<div class="bottom-right">
					<div class="detailsInfo">
						<label for="date">End:</label>
				        <input type="date" id="date" name="date">
				        <input type="time" id="time" name="time">
				    </div>
	            </div>
			</div>

		</div>

		<button class="updateBtn">Update</button>

	</div>	

	<br>

	<div class="details">

    	<form>
			<div class="detailsInfo">
			       
				<label for="location">Add product to sale: </label>
				<select id="location" name="location">
				    <option value="option1">UNION AIRCON 12345</option>
				    <option value="option2">LGTV SMART 222</option>
				    <option value="option3">SONY SPEAKERS D1</option>
				    <option value="option4">UNION BANK</option>
				</select>
			
				<label for="number-input">Quantity:</label>
    			<input type="number" id="number-input" min="1" placeholder="0">
				<button class="addBtn">Add</button>
			</div> 
		</form>

		   		
	</div>

    	
   
    	<br>
	<div class="productContainer">

		<div class="leftDiv">

		 	<img class="productIcon" src="/images/aircon.png" />
		 </div>

		<div class="rightDiv">

		 	<div class="top-right">
			  	<span class="productDetails">Product_Name | Brand | Type | Quantity </span>
               		 
           	</div>

           	<div class="borderDivider"></div>

           	<div class="bottom-right">
				<span class="productDetails">P X,XXX</span>
				<button class="deleteProductBtn">Delete</button>

            </div>
		</div>

	</div>

	<br>

	<div class="productContainer">

		<div class="leftDiv">

		 	<img class="productIcon" src="/images/aircon.png" />
		 </div>

		<div class="rightDiv">

		 	<div class="top-right">
			  	<span class="productDetails">Product_Name | Brand | Type | Quantity </span>
               		 
           	</div>

           	<div class="borderDivider"></div>

           	<div class="bottom-right">
				<span class="productDetails">P X,XXX</span>
				<button class="deleteProductBtn">Delete</button>
				
            </div>
		</div>

	</div>

	<br>

	<div class="productContainer">

		<div class="leftDiv">

		 	<img class="productIcon" src="/images/aircon.png" />
		 </div>

		<div class="rightDiv">

		 	<div class="top-right">
			  	<span class="productDetails">Product_Name | Brand | Type | Quantity </span>
               		 
           	</div>

           	<div class="borderDivider"></div>

           	<div class="bottom-right">
				<span class="productDetails">P X,XXX</span>
				<button class="deleteProductBtn">Delete</button>
            </div>
		</div>

	</div>

		<br><br>
		<div class="btnContainer">
		<button class="doneBtn">Done</button>

    </div>

</div>
</body>
</html>