<!DOCTYPE html>
<html lang="en">
    <!--Made by: Sandeon Gavan-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage (Admin)</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/homepage_admin.css">

</head>
<body>
    <header>
    <div class="logo">
        <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
    </div>
    
        <nav>
            <a class="home-button" href="#">Home</a>
            <a class="navbar-divider">|</a>   
            <a class="product-catalog-button" href="#">Product Catalog</a>
            <a class="navbar-divider">|</a>
            <a class="my-profile-button" href="admin_profile.html">My Profile</a>
        </nav>
    </header>
    <div class="container">
        
        <div id="controls_container">
            <div id="analytics">
                <h1>Analytics</h1>
                <div class="metrics_list">
                    <div class="metric_item">
                        <p>0</p>
                        <p>Total Orders</p>
                     </div>
                    <div class="metric_item">
                        <p>0</p>
                        <p>To-Process Shipment</p>
                    </div>
                    <div class="metric_item">
                        <p>0</p>
                        <p>Processed Shipment</p>
                    </div>
                    <div class="metric_item">
                        <p>0</p>
                        <p>Pending Cancellations</p>
                    </div>
                    <div class="metric_item">
                        <p>0</p>
                        <p>Sold Out Products</p>
                     </div>
                </div>
        </div>
        <div id="admin_control">
            <h1>What would you like to do...</h1>
            <div id="admin_buttons"> <!--buttons that redirect to mentioned page-->
                <button class="redirect_button" onclick="redirectToAllProductsView()">Product List</button>
                <button class="redirect_button" onclick="redirectToBodegaSaleView()">Bodega Sale List</button>
                <button class="redirect_button" onclick="redirectToOrdersListView()">Orders List</button>
            </div>
        </div>

        </div>
    </div>

    <script>
        function redirectToAllProductsView() {    //src/views/adminViews/allProductsView.ejs
            window.location.href = '/admin/products'; // redirects to productListAdmin.ejs
        }

        function redirectToBodegaSaleView() {
            window.location.href = '/admin/sales'; //redirects to login.ejs
        }

        function redirectToOrdersListView() {
            window.location.href = '/login'; //redirects to viewbodega.ejs
        }
        //for now, all buttons redirect to All Products View
    </script>
</body>
</html>