<!DOCTYPE html>
<html lang="en">
    <!--Made by: Sandeon Gavan-->
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage (Admin)</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/homepage_admin.css">

</head>
<body>
    <header>
    <div class="logo">
        <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
    </div>
    
        <nav>
            <a class="home-button" href="#">Home</a>
            <a class="navbar-divider">|</a>   
            <a class="product-catalog-button" href="#">Product List</a>
            <a class="navbar-divider">|</a>
            <a class="product-catalog-button" href="#">Bodega Sale List</a>
            <a class="navbar-divider">|</a>
            <a class="product-catalog-button" href="#">Orders List</a>
            <a class="navbar-divider">|</a>
            <a class="my-profile-button" href="admin_profile.html">My Profile</a>
        </nav>
    </header>
    <div class="container">
        
        <div id="controls_container">
            <div id="analytics">
                <h1>Analytics</h1>
                <div class="metrics_list">
                    <div class="metric_item">
                        <h2>0</h2>
                        <p>Total Orders</p>
                     </div>
                    <div class="metric_item">
                        <h2>0</h2>
                        <p>To-Process Shipment</p>
                    </div>
                    <div class="metric_item">
                        <h2>0</h2>
                        <p>Processed Shipment</p>
                    </div>
                    <div class="metric_item">
                        <h2>0</h2>
                        <p>Pending Cancellations</p>
                    </div>
                    <div class="metric_item">
                        <h2>0</h2>
                        <p>Sold Out Products</p>
                     </div>
                </div>
        </div>

        <!--CHANGE THIS TO PENDING ORDERS, NEW ORDERS-->
        <div id="orders">
            <div class="order_container"> 
                <h1>New Orders</h1>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">

                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>


                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

            </div>

            <div class="order_container"> 
                <h1>Pending Orders</h1>
                
                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">
                    
                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>                    </div>
                </div>

                <div class="order_items">
                    <img class="order_img" src="/images/aircon.png">

                    <div class="order_details">
                        <h2>Order #: 00000000</h2>
                        <p>Price: 10000</p>
                        <p>Address: 123 Fake St, Fake Brgy, Fake City</p>
                    </div>
                </div>
            </div>
           
        </div>

        </div>
    </div>
</body>
</html>