<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="css/orderDetails.css">
    <title>Order</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img class ="logo_png" src="images/BXlogo.png"></a>
        </div>
        
            <nav>
                <a class="home-button" href="#">Home</a>
                <a class="navbar-divider">|</a>   
                <a class="product-catalog-button" href="#">Product List</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Bodega Sale List</a>
                <a class="navbar-divider">|</a>
                <a class="product-catalog-button" href="#">Orders List</a>
                <a class="navbar-divider">|</a>
                <a class="my-profile-button" href="admin_profile.html">My Profile</a>
            </nav>
        </header>
        <div class="container">
            <div id="order">
                <img src="images/aircon.png">
                <div class="order_description">
                    <h1>Order #: 00000000</h1>
                    <p>Customer: John Smith</p>
                    <p>Address: 123 Fake St., Fake Brgy, Fake City</p>
                    <p>Brand Name: Brand X</p>
                    <p>Product Name: Aircon</p>
                    <p>Type: Appliance</p>
                    <p>Quantity: 1</p>
    
                    <button id="deliveryButton" class="undelivered" onclick="toggleDeliveryStatus()">Undelivered</button>
                </div>
    
            </div>
        </div>
       

       
</body>

<script>
    function toggleDeliveryStatus() {
    var deliveryButton = document.getElementById("deliveryButton");
  
    if (deliveryButton.classList.contains("undelivered")) {
      deliveryButton.textContent = "Delivered";
      deliveryButton.classList.remove("undelivered");
      deliveryButton.classList.add("delivered");
    } else {
      deliveryButton.textContent = "Undelivered";
      deliveryButton.classList.remove("delivered");
      deliveryButton.classList.add("undelivered");
    }
  }
</script>
</html>