<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/viewbodega.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View List of Bodega Sales (Admin)</title>
</head>
<body>

	<div class="logo-container"> <!--Website Logo-->
		<a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
	</div>
            <%- include('../partials/admin_NavBar') %>
	<br>

	<div class="search">
		<label for="text-input"></label>
   		<input type="text" id="text-input" name="text-input" placeholder="Search for bodega...">
   		<img class="searchIcon" src="/images/search.png" />
   	</div>	

	    <% sales.forEach((sale)=> { %>
			<%- include('../partials/bodega_Admin', {sale: sale}); %>
		<% }) %>
</body>
</html>