<head>
    <link rel="stylesheet" type="text/css" media="all" href="/css/admin_NavBar.css">
</head>
<body>
    <header>
        <nav>
            <a class="home-button" href="#">Home</a>
            <a class="navbar-divider">|</a>   
            <a class="product-catalog-button" href="#">Product List</a>
            <a class="navbar-divider">|</a>
            <a class="product-catalog-button" href="#">Bodega Sale List</a>
            <a class="navbar-divider">|</a>
            <a class="product-catalog-button" href="#">Orders List</a>
            <a class="navbar-divider">|</a>
            <a class="my-profile-button" href="admin_profile.html">My Profile</a>
            <a class="navbar-divider">|</a>
            <a class="my-profile-button" href="#">Log Out</a>
        </nav>
    </header>
</body>
