<hr>

<div class="bodegaContainer">

    <div class="leftDiv">

         <img class="bodegaIcon" src="/images/bodega.png" />
     </div>

    <div class="rightDiv">

         <div class="top-right">
              <span class="bodegaDetails">Start date: 10/20/2023, End date: 10/23/2023</span>
                    
           </div>

           <div class="borderDivider"></div>

           <div class="bottom-right">
            <span class="bodegaDetails">(Title) ManilaRush | Location : Metro Manila</span>
                <button class="viewBtn">View</button>
        </div>
    </div>

</div>