<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar (Customer)</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/customer_NavBar.css">
</head>
<body>
    <header>
    <div class="logo">
        <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
    </div>
        <nav>
            <a class="home-button" href="#">Home</a>
            <a class="navbar-divider">|</a>   
            <a class="product-catalog-button" href="#">Product Catalog</a>
            <a class="navbar-divider">|</a>
            <a class="product-catalog-button" href="#">Bodega Sale!!!</a>
            <a class="navbar-divider">|</a>
            <a class="product-catalog-button" href="#">My Cart</a>
            <a class="navbar-divider">|</a>
            <a class="my-profile-button" href="#">My Profile</a>
        </nav>
    </header>
</body>
</html>