<!-- Usable div for showing when something is empty i.e. no orders-->
<link rel="stylesheet" href="/css/emptyContainer.css">
<div class="empty-container">
    <img class="empty-icon" src="/images/empty_icon.png">
    <div class="blue-box">
        . <!--THIS PERIOD IS JUST TO MAKE THE BOX APPEAR-->
    </div>
    <a class="empty-msg"><strong>Woah! There's nothing here!</strong></a>
</div>

<!-- THERE'S A LARGE AND A SMALL VERSION IN THE CSS-->
<!-- JUST REMOVE THE COMMENT OF THE SIZE YOU TO GET-->
<!-- EACH VERSION IS LABELLED ACCORDINGLY WITH A "START" AND "END" TO SIGNIFY THE CODE BLOCK-->