
    <header>
    <div class="logo">
        <a href="#"><img class ="logo_png" src="/images/BXlogo.png"></a>
    </div>
        <nav>
            <a class="home-button" href="/">Home</a>
            <a class="navbar-divider">|</a>   
            <a class="product-catalog-button" href="/productlist">Product Catalog</a>
            <a class="navbar-divider">|</a>
            <a class="product-catalog-button" href="/ogsales">Bodega Sale!!!</a>
            <a class="navbar-divider">|</a>
            <div class="dropdown">
                <button class="dropbtn">My Profile ▼</button>
                <div class="dropdown-content">
                  <a href="#">Log In</a>
                  <a href="#">Sign Up</a>
            </div>
        </nav>
    </header>
