<div class="item">
    <p class="item_image"><a href="/login"> <!--href links to products info page-->
        <a href="#"><img class="product-image" src="https://drive.google.com/uc?export=view&id=<%= product.images[0] %>"></a>
    </a></p>
    <p class="item_name"><%= product.name %></p>
    <p class="item_price">₱ <%= product.price %></p>
</div>