.addeditAProduct1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 317px;
  flex-shrink: 0;
}
.icons,
.xIcon {
  overflow: hidden;
}
.xIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.icons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.addeditAProductParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.emailAddress {
  border: 0;
  font-weight: 500;
  font-family: var(--desktop-body);
  font-size: 13.28px;
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--gray-2);
  text-align: left;
}
.emailField,
.productNameField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.emailField {
  flex: 1;
  border-radius: 12.07px;
  border: 1.2px solid var(--gray-4);
  padding: 10.867219924926758px 14.489625930786133px;
}
.productNameField {
  align-self: stretch;
}
.manila {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.option {
  align-self: stretch;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5.026238918304443px 12.565597534179688px;
}
.dropdown {
  position: absolute;
  top: -41.5px;
  left: 0;
  width: 403.4px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.productCategory {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 373.2px;
  flex-shrink: 0;
}
.dropdownArrowChild {
  position: absolute;
  height: 150%;
  width: 124.75%;
  top: -26%;
  right: -11.88%;
  bottom: -24%;
  left: -12.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dropdownArrow {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 10.1px;
  height: 5px;
}
.city {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12.57px;
  background-color: var(--white);
  border: 1.3px solid var(--gray-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 11.309038162231445px 25.131195068359375px 11.309038162231445px
    15.078717231750488px;
  gap: 12.57px;
  font-size: 13.82px;
  color: var(--gray-2);
}
.brand,
.category,
.checkbox {
  position: relative;
  height: 44px;
}
.category {
  align-self: stretch;
}
.brand,
.checkbox {
  width: 403.4px;
}
.checkbox {
  border-radius: 3.23px;
  background-color: var(--white);
  border: 1.6px solid var(--gray-2);
  box-sizing: border-box;
  width: 21.8px;
  height: 21.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.listProduct {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.filterItem,
.listed {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filterItem {
  align-self: stretch;
  flex-direction: row;
  gap: 8.88px;
}
.listed {
  width: 201px;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.icons1 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.uploadProductPhotos {
  position: relative;
  font-size: 13.73px;
  line-height: 150%;
  font-family: var(--desktop-heading);
  color: var(--gray-2);
  text-align: left;
}
.iconsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.cartItem,
.uploadPhoto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cartItem {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-mini);
  background-color: var(--gray-4);
  align-self: stretch;
  border-radius: var(--br-3xs);
  overflow: hidden;
  align-items: flex-start;
}
.uploadPhoto {
  flex: 1;
  align-items: center;
}
.inputFields,
.listedParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14.53px;
}
.inputFields {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xs);
  font-size: 11.31px;
}
.addProduct1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-family: var(--desktop-heading);
  color: var(--white);
  text-align: left;
}
.addProduct,
.addeditAProduct {
  box-sizing: border-box;
  display: flex;
}
.addProduct {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-3xs);
  background-color: var(--light-blue);
  flex: 1;
  border-radius: var(--br-10xl);
  box-shadow: var(--drop-shadow-mobile);
  width: 738px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addeditAProduct {
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--white);
  box-shadow: var(--drop-shadow-desktop);
  border: 1px solid var(--gray-5);
  height: 552.9px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-10xl);
  gap: var(--gap-8xl);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--desktop-subheading-size);
  color: var(--black);
  font-family: var(--desktop-body);
}
