.productImageIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 6.31rem;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.discountText {
  position: relative;
  line-height: 150%;
  font-size: 0.81rem;
  color: var(--white);
  font-family: var(--font-proxima-nova);
}
.discount,
.productImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount {
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: var(--red);
  flex-direction: row;
  padding: 3px 5px;
  z-index: 1;
}
.productImageContainer {
  align-self: stretch;
  height: 7.5rem;
  flex-direction: column;
  position: relative;
}
.productBrand,
.productName {
  position: relative;
  line-height: 150%;
}
.productBrand {
  font-weight: 600;
  font-size: var(--font-size-cardtext);
  color: var(--gray-5);
}
.productName {
  font-size: var(0.75rem);
  font-family: var(--font-proxima-nova);
  color: var(--black);
}
.productDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.originalPrice,
.price {
  position: relative;
  line-height: 150%;
  font-weight: 800;
}
.originalPrice {
  font-size: 0.7rem;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--gray-5);
}
.prices {
  height: 2.56rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.container,
.productSubdetails {
  display: flex;
  justify-content: space-between;
}
.productSubdetails {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  font-size: var(--font-nunito);
  color: var(--brand-color);
}
.container {
  border-radius: 19px;
  background-color: var(--white);
  box-shadow: var(--drop-shadow-mobile);
  width: 13rem;
  height: 17rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0.75rem 1.13rem;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 0;
  text-align: left;
}
